.firstcontainer {
    
        display: flex;
        flex-direction: column; /* Assure que tout est empilé en colonne */
        justify-content: center;
        align-items: center; /* Centre le contenu horizontalement */
      
}

.title {
    text-align: center; /* Centre le texte du titre */
    margin-bottom: 40px; /* Ajoute un peu d'espace sous le titre */
    color: #2c6e49;
    margin-top: 5%;
  }

.container {
    display: flex;
    gap: 20px; /* Espacement entre la barre de filtre et la liste */
    padding: 20px;
  }
  
  .sidebar {
    width: 250px; /* Largeur de la barre de filtre */
  }
  
  .content {
    flex: 1; /* La liste prend tout l'espace restant */
  }

  
  