.footer {
    background-color: #f8f8f8;
    padding: 40px 20px;
    color: #333;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
}

.info, .links, .social {
    flex: 1;
    min-width: 250px;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2c6e49;
    margin-bottom: 10px;
}

.icon {
    margin-right: 8px;
    color: #8EA88C;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 8px;
}

.links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.links a:hover {
    color: #2c6e49;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconSocial {
    font-size: 24px;
    color: #8EA88C;
    margin: 5px;
    transition: transform 0.3s ease-in-out, color 0.3s;
}

.iconSocial:hover {
    transform: scale(1.2);
    color: #2c6e49;
}

.legal {
    margin-top: 20px;
    font-size: 0.9rem;
}

.legal a {
    color: #8EA88C;
    text-decoration: none;
}

.legal a:hover {
    text-decoration: underline;
}

.lienlink {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lien {
    margin: 2%; 
}
