.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1 {
    color: #8EA88C;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    background-color: aqua;
   
}

.dropdownContent {
    margin: 5%;
    text-decoration: none;

}

.dropdownContent:hover {
    transform: scale(1.05); /* Effet zoom au survol*/
      text-decoration: none;  /* Annule le soulignement du lien */
  }